<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            StockTalk
            <h5 class="hint">Use your email to sign in or register now</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Email</label>
                <input type="email" name="username" clrInput placeholder="Username" formControlName="email"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
            </clr-password-container>
            <!---<div class="error active">
                Invalid user name or password
            </div>-->
        </div>
        <div style="display:flex;flex-wrap:wrap;justify-content: center;">
            <button type="submit" class="btn btn-primary" (click)="getLogin()">SignIn</button>
            <button type="submit" class="btn btn-success-outline">SignUp</button>
        </div>
    </form>
</div>